---
layout: default
---
<div class="page-content">
  <div class="mdl-grid">

<!-- pin the message board -->
<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp welcome-card">
        <div class="mdl-card__title">

        </div>
        <div class="mdl-card__supporting-text">
  <a class="mdl-color-text--black" href="/message/">
          <h3 class="mdl-color-text--blakck">留言板</h3></a>
          <br>
          <p>  &nbsp &nbsp 有什么想对我们说？</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" href="/message/">
            Leave a Message
          </a>
        </div>
    </div>

<!-- arrange posts as cards -->
    {% for post in site.posts %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet  mdl-cell--12-col-phone">
      <div class="mdl-card__title"
      {% if post.bgcolor %} style="background: {{post.bgcolor}} center/cover;"
      {% elsif post.image %} style="background: url('{{ post.image }}') center/cover;"
      {% endif %}>
          </div>
      <div class="mdl-card__supporting-text">
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="mdl-color-text--black" href="{{ post.url | prepend: site.baseurl }}">
          <h4 class="">{{ post.title }}</h4></a>
        <p>{{ post.excerpt }}</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}">
          Read More
        </a>
      </div>
    
    </div>

    {% endfor %}


    <!-- Pagination links
<div class="pagination mdl-layout">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
      ←
    </a>
  {% else %}
    <span class="previous mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"> ← </span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next mdl-spacer mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">→</a>
  {% else %}
    <span class="next mdl-spacer mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">→</span>
  {% endif %}
</div>
-->

  </div>
</div>
