  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row mdl-layout--fixed-header">
      <!-- Title -->
      <span class="mdl-layout-icon"><img src="/assets/img/640x640.png" width="36" height="36" alt="logo"></span>
      <span class="mdl-layout-title"> &nbsp {{ site.title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="https://anchor.fm/christine3563">
          <span class="icon-anchor">
            <svg viewBox="0 0 16 16" style="width:16px;height:16px">
            </svg>
          </span></a>
       <a class="mdl-navigation__link" href="https://open.spotify.com/show/2Ur0uGHRj7hNPrznkQJtdm">
         <span class="fa fa-spotify">
           <svg viewBox="0 0 16 16" style="width:16px;height:16px">
           </svg>
         </span></a>
         <a class="mdl-navigation__link" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8yYzIwMTIyNC9wb2RjYXN0L3Jzcw==">
           <span class="icon-google-plus-sign">
             <svg style="width:16px;height:16px" viewBox="0 0 16 16">
             </svg>
           </span></a>
       <a class="mdl-navigation__link" href="https://podcasts.apple.com/us/podcast/%E5%8D%88%E6%97%B6%E5%B7%B2%E5%88%B0-closure/id1523868860">
         <span class="fa fa-podcast">
           <svg style="width:18px;height:18px" viewBox="0 0 24 24">
           </svg>
         </span></a>
     </nav>
  </div>
  </header>
  <div class="mdl-grid content_top">

  </div>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{site.url}}">首页</a>
    {% for page in site.pages %}
      {% if page.title %}
      <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
    </nav>

  </div>
