
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row mdl-layout--fixed-header">
      <!-- Title -->
      <span class="mdl-layout-icon"><img src="/assets/img/640x640.png" width="36" height="36" alt="logo"></span>
      <span class="mdl-layout-title">&nbsp &nbsp {{ site.title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
  </div>

  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{site.url}}">首页</a>
    {% for page in site.pages %}
      {% if page.title %}
      <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
    </nav>

  </div>
